.countries {
    position: relative;
    width: 61%;
    margin: 0 auto;
    padding: 0;
    margin-top: 98px; 
}

.countries__wrapper {
    width: 899px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 9%;
    height: 596px;
    margin-top: 80px;
}

.countries__header {
    @include font(600, 55px, 90px, $special-black);
    margin: 0;
    margin-bottom: 49px;
    margin-top: 10px;
}

.countries__description {
    @include font(400, 16px, 28px, $special-black);
    opacity: 0.7; 
    margin: 0;
    margin-bottom: 48px;
}

.countries__buy-button {
    @include font(700, 12px, 15px, $basic-white);
    color: $basic-white;
    background-color: $basic-pink;
    border: none;
    padding: 30px 40px;   
}

.img {
   width: 430px;
   background-color: lightblue; 
}

.countries__list {
    padding: 0;
    padding-bottom: 14px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 77%;
    border-bottom: 1px solid rgba(44, 46, 63, 0.3);
}

.countries__item {
    @include font(500, 20px, 24px, $special-black);
    opacity: 30%;
    list-style: none;
    padding: 0;
    margin: 0;
}
