.feedback {
    position: absolute;
    left: 789px;
    top: 217px;
    z-index: 100;
    background-color: white;
    padding-top: 46px;
    padding-left: 28px;
    padding-right: 16px;
    padding-bottom: 22px;
}

.feedback__header {
    @include font(500, 30px, 37px, $special-black);
    margin: 0;
    margin-bottom: 33px;
}

.feedback__description {
    @include font(400, 14px, 28px, $special-black);
    opacity: 0.3;
    margin: 0;
    margin-bottom: 41px;
}

.feedback__author {
    @include font(500, 16px, 20px, $special-black);
}