.header {
    position: relative;
    width: 59.5%;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 31px;
    padding: 0;  
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}