.item--active {
    color: $basic-pink;
    opacity: 1;
}

@media (max-width: $desktop-width) {
    .item--croatia {
        display: none;
    }
}

@media (max-width: $tablet-width) {
    .item--montenegro,
    .item--macedonia {
        display: none;
    }
}