.page__body {
    margin: 0;
    min-width: 320px;
    color: $basic-black;
    //font-family: "roboto", "arial", sans-serif;  
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
  
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
  
img {
    max-width: 100%;
    height: auto;
}